<div class="text-center">
  <h1 style="margin-top: 2rem; margin-bottom: 1.5rem">It Takes All Kinds</h1>

  <table class="table">
    <tr>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.message %></td>
        <td><%= link_to 'Show', kind_path(kind), class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_kind_path(kind), class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Destroy', kind_path(kind),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Be Kind Again', new_kind_path, class: "btn btn-primary btn-lg" %>
</div>